body {
  background-color: #42a1c6;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
}

/* Franklin's Container */
.fish {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100px;
  z-index: 2;
  will-change: transform;
  -webkit-animation: swim 8s infinite;
          animation: swim 8s infinite;
}

/* Franklin */
.fish-body {
  position: relative;
  margin-top: 30px;
  margin-left: 40px;
  background-color: orange;
  border-radius: 50%;
  width: 150px; 
  height: 100px;
}

.eye {
  position: absolute;
  margin-left: 100px;
  margin-top: 20px;
  z-index: 1;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.pupil {
  position: absolute;
  z-index: 2;
  margin-left: 5px;
  margin-top: 5px;
  background-color: black;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.fin {
  margin-top: -100px; 
  background-color: orange;
  border-radius: 50%;
  transform: rotate(40deg);
  width: 80px;
  height: 50px;
}

.fin-bottom {
  margin-top: -10px;
  transform: rotate(-40deg);
}

/* Bubbles */
.bubbles {
  position: fixed;
  bottom: 0;
  z-index: 5;
  margin-right: 50px;
  background-color: white;
  border-radius: 50%;
  opacity: .50;
  width: 40px;
  height: 40px;
  will-change: transform;
  -webkit-animation: up 4s infinite;
          animation: up 4s infinite;
}

.bubble-2 {
  left: 22vw;
  -webkit-animation: up 2s infinite;
          animation: up 2s infinite;
}

.bubble-3 {
  left: 43vw;
  opacity: .30;
  -webkit-animation: up 5s infinite;
          animation: up 5s infinite;
}

.bubble-4 {
  left: 66vw;
  -webkit-animation: up 6s infinite;
          animation: up 6s infinite;
}

.bubble-5 {
  left: 8vw;
  -webkit-animation: up 5s infinite;
          animation: up 5s infinite;
}

.bubble-6 {
  left: 31vw;
  opacity: .30;
  -webkit-animation: up 3s infinite;
          animation: up 3s infinite;
}

.bubble-7 {
  left: 56vw;
  -webkit-animation: up 4s infinite;
          animation: up 4s infinite;
}

.bubble-8 {
  left: 82vw;
  opacity: .30;
  -webkit-animation: up 3s infinite;
          animation: up 3s infinite;
}

/* Swim Animation */
@-webkit-keyframes swim {
  0% {
    transform: translateY(-50px) translateX(0) rotate(30deg);
  }
  25% { 
    transform: translateY(35vh) translateX(25vw) rotate(20deg);
  }
  50% {
    transform: translateY(65vh) translateX(50vw);
  }
  75% {
    transform: translateY(30vh) translateX(75vw) rotate(-20deg);
  }
  100% {
    transform: translateY(-10vh) translateX(calc(100vw - 190px)) rotate(-40deg);
  }
}
@keyframes swim {
  0% {
    transform: translateY(-50px) translateX(0) rotate(30deg);
  }
  25% { 
    transform: translateY(35vh) translateX(25vw) rotate(20deg);
  }
  50% {
    transform: translateY(65vh) translateX(50vw);
  }
  75% {
    transform: translateY(30vh) translateX(75vw) rotate(-20deg);
  }
  100% {
    transform: translateY(-10vh) translateX(calc(100vw - 190px)) rotate(-40deg);
  }
}

/* Bubbles Animation */
@-webkit-keyframes up {
  100% {
    transform: translateY(-110vh);
  }
}
@keyframes up {
  100% {
    transform: translateY(-110vh);
  }
}
